<div class="container d-flex justify-content-center m-5 p-0">
  <div class="form-field col-6 p-5">
    <form class="" (submit)="onSubmit(myForm)" #myForm="ngForm">

      <div class="form-floating mb-3 rtl">
        <input type="text" class="form-control " id="floatingNumber" placeholder="Number" name="number" ngModel
          #number="ngModel" required numberValidation [ngClass]="number.valid == true ? 'is-valid' : 'is-invalid'">
        <label for="floatingNumber">عدد</label>
      </div>

      <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingTextArea" placeholder="TextArea" name="textBox" ngModel
          #textBox="ngModel" required persianWordsValidation
          [ngClass]="textBox.valid == true ? 'is-valid' : 'is-invalid'"></textarea>
        <label for="floatingTextArea">متن فارسی</label>
      </div>

      <div class="form-floating mb-3">
        <input list="names" type="text" class="form-control" id="floatingInput1" placeholder="Input1" name="names"
          ngModel #names="ngModel" required listValidator [ngClass]="names.valid == true ? 'is-valid' : 'is-invalid'">
        <datalist id="names">
          <option *ngFor="let person of namesList;" value="{{person}}">
        </datalist>
        <label for="floatingInput1">نام و نام خانوادگی</label>
      </div>

      <div class="form-floating mb-3">
        <input list="currency" type="text" class="form-control" id="floatingInput2" placeholder="currency"
          name="currency" ngModel #currency="ngModel" required listValidator2
          [ngClass]="currency.valid == true ? 'is-valid' : 'is-invalid'">
        <datalist id="currency" *ngIf="currency.value.length > 2">
          <option *ngFor="let currency of currencyList;" value="{{currency}}">
        </datalist>
        <label for="floatingInput2">Currency Names</label>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>

      <!-- <div>{{myForm.value | json}}</div> -->
    </form>
  </div>
</div>
